@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Roboto", sans-serif;
}
body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.container {
  width: 100%;
}

.topbar {
  width: 100%;
  background-color: #333333;
  height: 41px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
}
.row-items {
  line-height: 40px;
}
.row-items a {
  color: #cccccc;
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.row-items .hidden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}

.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background: white;
  border-bottom: 1px solid #ebebeb;
}
.header-main {
  padding: 30px;
  margin: 0 auto;
}
.header-toggle {
  padding: 15px;
  font-size: 24px;
  display: none;
}
.header-main img {
  display: inline-block;
  max-width: 100%;
}
.main-nav {
  width: 100%;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 75px;
  padding: 2px 0;
}
.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}
.menu-mobi {
  display: none;
}
.mobi {
  display: none;
}
.menu .menu-item a:hover {
  color: #0089ff;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  color: #333333;
}
.menu-link.menu-mb {
  display: none;
}
.menu-link.menu-hed {
  color: #0089ff;
}
.menu-link.active {
  background-color: red;
  padding: 15px 15px;
}

.main-icon a {
  color: #333333;
}
.main-bag {
  position: relative;
  gap: 20px;
}
.main-mobi a {
  display: none;
}
.count-item {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: -10px;
  right: -15px;
  background: #0089ff;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
}
main {
  max-width: 1200px;
}
.title {
  text-align: center;
}
.title-main:before {
  content: "";
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 2px;
  background: #ed1c24;
}

/* section product */
.section {
  width: 100%;
  padding: 35px 90px;
}
.product-box {
  display: flex;
  align-items: center;
  /* gap: 15px; */
  /* max-width: 1170px; */
  /* flex-direction: row; */
  justify-content: start;
  flex-wrap: wrap;
  margin-left: -20px;
}
.product-thumnail {
  width: 23%;
  height: 391px;
  margin-left: 20px;
}
.product-info {
  padding-top: 35px;
}
.product-info h3 {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.number {
  line-height: 30px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: #363636;
  font-weight: 700;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button-input {
  text-align: center;
}
.button-custom {
  height: 35px;
  display: inline-block;
  line-height: 35px;
  background: #ed1c24;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  border: solid 1px #ed1c24;
  padding: 0 30px;
}
.button-custom:hover {
  background: #0089ff;
  color: #ebebeb;
  border: solid 1px #0089ff;
}
/* footer */

.footer {
  width: 100%;
  padding-top: 50px;
}
.top-footer {
  background: #000;
  color: #ebebeb;
  padding-bottom: 50px;
}
.row-footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-right: 50px;
  gap: 50px;
}
.row-footer .footer-follow h4 span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}
.row-footer .footer-guide h4 span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}
.row-footer .footer-contact h4 span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}
.social {
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.social a .fa-facebook {
  font-size: 30px;
  color: #ebebeb;
  margin-right: 20px;
}
.social a .fa-instagram {
  font-size: 30px;
  color: #ebebeb;
}
.guide .guide-item {
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
  list-style-type: none;
  line-height: 20px;
}
.guide-link {
  font-size: 14px;
  color: #ebebeb;
}
.contact-item {
  display: flex;
  gap: 20px;
  padding-top: 15px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.bottom-footer{
  width: 100%;
}
.bottom-text{
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background: #000;
  color: #ebebeb;
  text-align: center;
  padding-bottom: 5px;
}
@media screen and (max-width: 1023.98px) {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  .row-items a {
    color: #cccccc;
    font-size: 12px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }
  .hidden-link.lh {
    display: none;
  }
  .header-toggle {
    display: block;
    color: red;
  }
  .main-menu {
    display: none;
  }
  .main-mobi a {
    display: block;
  }
  
  .wrap {
    border-bottom: none;
  }
  /* menu mobi */
  .menu-mobi {
    display: none;
  }
  .mobi {
    display: block;
    align-items: stretch;
    flex-direction: column;
    line-height: 30px;
  }
  .mobi-item {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 15px;
  }
  .mobi-item .mobi-link {
    color: #333333;
  }
  .mobi-item.dm {
    background-color: #f5f5f5;
  }
  .mobi-link.dm {
    color: #0089ff;
  }
}
@media screen and (max-width: 767.98px) {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  .row-items a {
    color: #cccccc;
    font-size: 12px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }
  .hidden-link.lh {
    display: none;
  }
  .header-toggle {
    display: block;
    color: #333333;
    cursor: pointer;
  }
  .main-menu {
    display: none;
  }
  .main-mobi{
    display: flex;
    padding-right: 30px;
  }
  .main-mobi a {
    display: block;
    color: #333333;
  }
  .main-bag {
    position: relative;
  }
  .count-item {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -10px;
    right: -14px;
    background: #0089ff;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
  }
.logo{
  width: 170px;
}
  /* menu mobi */
  .menu-mobi {
    display: none;
  }
  .mobi {
    display: block;
    align-items: stretch;
    flex-direction: column;
    line-height: 30px;
  }
  .mobi-item {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 15px;
  }
  .mobi-item .mobi-link {
    color: #333333;
  }
  .mobi-item.dm {
    background-color: #f5f5f5;
  }
  .mobi-link.dm {
    color: #0089ff;
  }

  /* section Product */

  .section {
    width: 100%;
    padding: 35px 15px;
  }

  .product-thumnail {
    width: 44%;
    height: 280px;
    margin-left: 20px;
  }

  .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* footer */
  .footer {
    width: 100%;
    padding-top: 15px;
  }
  .top-footer {
  padding: 15px;
  }
  .footer-guide {
    width: 100%;
  }
  .footer-contact {
    width: 100%;
  }
  .footer-follow {
    width: 100%;
  }
  .footer-follow .social{
     text-align: left;
  }
  .bottom-text{
    padding: 5px 0;
  }
}
